.card__done__favorite {
  background: #f8f3e8;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  margin-bottom: 35px;
  max-height: 400px;
  max-width: 250px;
  overflow: hidden;
  padding: 1rem 1rem 2rem;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.card__done__favorite h3 {
  display: inline;
  font-size: 18px;
}

.card__img {
  width: 100%;
}
