.done__page {
  background-color: rgb(231, 219, 207, 0.5);
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.doneFav-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0 20px;
  width: 80%;
}

.card__done__favorite {
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  margin: 20px;
}

.doneFavCLink {
  color: #ED662C;
}