header {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 25px;
  width: 55%;
}

header button {
  background: none;
  box-shadow: none;
  margin: 0 5px;
  padding: 5px;
}

.header__title {
  color: #ed662c;
  text-shadow: 3px 2px 0 #fffcf5;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 5px;
  height: 50px;
}

.title_header {
  display: flex;
}

.title_header h1 {
  font-size: 85px;
  letter-spacing: -1px;
}

.subtitle_header {
  font-size: 55px;
  margin: 15px 0 0 4px;
}

.header_icon {
  height: 40px;
  padding: 2px 0;
}

.header__button {
  background: none;
  border: none;
  box-shadow: none;
}

.page__title {
  margin-top: 20px;
  text-align: center;
}

.page__title h1 {
  color: var(--titleColor);
  font-family: AlexBrush, sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-right: 15px;
  text-shadow: 1px 3px 3px #dad2c5;
}

.page__title img {
  filter: drop-shadow(2px 2px 1px white);
  width: 60px;
}

.header__search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-top: 30px;
}

.input__search {
  background-color: #FFFCF5;
  color: rgb(86, 86, 86);
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-left: 15px;
  font-size: 18px;
  margin: 0 35px 10px;
  height: 40px;
  width: 350px;
}

.input__search:focus {
  outline: 2px solid #c5b89b;
}

.checkbox__container {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  width: 100%;
  margin: 10px 0;
}

.checkbox__container input {
  accent-color: #ED662C;
  margin-right: 5px;
}

.button__search {
  background-color: #ED662C;
  color: white;
  border: none;
  border-radius: 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 40px;
  width: 140px;
}

@media (max-width: 850px) {
  header {
    width: 100%;
  }
  
  .checkbox__container {
    font-size: 20px;
    width: 90%;
  }
}