.details__page {
  background-image: repeating-conic-gradient(rgba(122, 118, 45, 0.668) 0% 25%, #e1d1c2c6 0% 50%);
  background-position: 0 0, 60px 60px;
  background-size: 260px 260px;
  display: flex;
  justify-content: center;
}

.mobile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 58%;
  text-align: center;
}

.top-btns-container {
  display: flex;
  flex-direction: row;
  margin: 20px
}

.top-btn {
  background: none;
  box-shadow: none;
  margin: 0 5px;
}

.top-btn img {
  height: 45px;
}

.start {
  background-color: rgba(237, 102, 44, 0.95);
  color: #FFFCF5;
  font-size: 25px;
  height: 45px;
  width: 175px;
  bottom: 15px;
  position: fixed;
  z-index: 2;
}

@media (max-width: 850px) {
  .mobile-container {
    width: 80%;
    margin: 0;
  }
}
