.in-progress_page {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.finishBtn {
  position: fixed;
  bottom: 15px;
  z-index: 2;
}

